@charset "UTF-8";
/*************************************
	Shared — Reset
	http://meyerweb.com/eric/tools/css/reset/
	v2.0b1 | 201101
	NOTE: WORK IN PROGRESS
	USE WITH CAUTION AND TEST WITH ABANDON 
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* remember to define visible focus styles!
:focus {
	outline: ?????;
} */
/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Lora", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #444;
  box-sizing: border-box;
  background: #d79074;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body, main, #main {
  width: 100%;
  height: 100%;
}

html, body {
  margin: 0;
  overflow: hidden;
}

img.full-bleed {
  min-height: 100%;
  min-width: 100%;
  height: auto;
  width: auto;
  position: absolute;
  top: -100%;
  bottom: -100%;
  left: -100%;
  right: -100%;
  margin: auto;
}

/**
 * Swiper 3.4.0
 * Most modern mobile touch slider and framework with hardware accelerated transitions
 * 
 * http://www.idangero.us/swiper/
 * 
 * Copyright 2016, Vladimir Kharlampidi
 * The iDangero.us
 * http://www.idangero.us/
 * 
 * Licensed under MIT
 * 
 * Released on: October 16, 2016
 */
.swiper-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  /* Fix of Webkit flickering */
  z-index: 1;
}

.swiper-container-no-flexbox .swiper-slide {
  float: left;
}

.swiper-container-vertical > .swiper-wrapper {
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  flex-direction: column;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  box-sizing: content-box;
}

.swiper-container-android .swiper-slide,
.swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
  transform: translate3d(0px, 0, 0);
}

.swiper-container-multirow > .swiper-wrapper {
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.swiper-container-free-mode > .swiper-wrapper {
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  margin: 0 auto;
}

.swiper-slide {
  -webkit-flex-shrink: 0;
  -ms-flex: 0 0 auto;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #f4f4f4;
}

/* Auto Height */
.swiper-container-autoheight,
.swiper-container-autoheight .swiper-slide {
  height: auto;
}

.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-transition-property: -webkit-transform, height;
  -webkit-transition-property: height, -webkit-transform;
  transition-property: height, -webkit-transform;
  transition-property: transform, height;
  transition-property: transform, height, -webkit-transform;
}

/* a11y */
.swiper-container .swiper-notification {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  opacity: 0;
  z-index: -1000;
}

/* IE10 Windows Phone 8 Fixes */
.swiper-wp8-horizontal {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
}

.swiper-wp8-vertical {
  -ms-touch-action: pan-x;
  touch-action: pan-x;
}

/* Arrows */
.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  width: 27px;
  height: 44px;
  margin-top: -22px;
  z-index: 10;
  cursor: pointer;
  background-size: 27px 44px;
  background-position: center;
  background-repeat: no-repeat;
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
  left: 10px;
  right: auto;
}

.swiper-button-prev.swiper-button-black,
.swiper-container-rtl .swiper-button-next.swiper-button-black {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E");
}

.swiper-button-prev.swiper-button-white,
.swiper-container-rtl .swiper-button-next.swiper-button-white {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
  right: 10px;
  left: auto;
}

.swiper-button-next.swiper-button-black,
.swiper-container-rtl .swiper-button-prev.swiper-button-black {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E");
}

.swiper-button-next.swiper-button-white,
.swiper-container-rtl .swiper-button-prev.swiper-button-white {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
}

/* Pagination Styles */
.swiper-pagination,
.swiper-pagination-gallery {
  position: absolute;
  text-align: center;
  -webkit-transition: 300ms;
  transition: 300ms;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 10;
}

.swiper-pagination.swiper-pagination-hidden,
.swiper-pagination-gallery.swiper-pagination-hidden {
  opacity: 0;
}

/* Common Styles */
.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 10px;
  left: 0;
  width: 100%;
}

/* Bullets */
.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 100%;
  background: #000;
  opacity: 0.2;
}

button.swiper-pagination-bullet {
  border: none;
  margin: 0;
  padding: 0;
  box-shadow: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer;
}

.swiper-pagination-white .swiper-pagination-bullet {
  background: #fff;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: #007aff;
}

.swiper-pagination-white .swiper-pagination-bullet-active {
  background: #fff;
}

.swiper-pagination-black .swiper-pagination-bullet-active {
  background: #000;
}

.swiper-container-vertical > .swiper-pagination-bullets {
  right: 10px;
  top: 50%;
  -webkit-transform: translate3d(0px, -50%, 0);
  transform: translate3d(0px, -50%, 0);
}

.swiper-container-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 5px 0;
  display: block;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 5px;
}

/* Progress */
.swiper-pagination-progress {
  background: rgba(0, 0, 0, 0.25);
  position: absolute;
}

.swiper-pagination-progress .swiper-pagination-progressbar {
  background: #007aff;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: left top;
  transform-origin: left top;
}

.swiper-container-rtl .swiper-pagination-progress .swiper-pagination-progressbar {
  -webkit-transform-origin: right top;
  transform-origin: right top;
}

.swiper-container-horizontal > .swiper-pagination-progress {
  width: 100%;
  height: 4px;
  left: 0;
  top: 0;
}

.swiper-container-vertical > .swiper-pagination-progress {
  width: 4px;
  height: 100%;
  left: 0;
  top: 0;
}

.swiper-pagination-progress.swiper-pagination-white {
  background: rgba(255, 255, 255, 0.5);
}

.swiper-pagination-progress.swiper-pagination-white .swiper-pagination-progressbar {
  background: #fff;
}

.swiper-pagination-progress.swiper-pagination-black .swiper-pagination-progressbar {
  background: #000;
}

/* 3D Container */
.swiper-container-3d {
  -webkit-perspective: 1200px;
  -o-perspective: 1200px;
  perspective: 1200px;
}

.swiper-container-3d .swiper-wrapper,
.swiper-container-3d .swiper-slide,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-cube-shadow {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}

.swiper-container-3d .swiper-slide-shadow-left {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(transparent));
  /* Safari 4+, Chrome */
  background-image: -webkit-linear-gradient(right, rgba(0, 0, 0, 0.5), transparent);
  /* Chrome 10+, Safari 5.1+, iOS 5+ */
  /* Firefox 3.6-15 */
  /* Opera 11.10-12.00 */
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), transparent);
  /* Firefox 16+, IE10, Opera 12.50+ */
}

.swiper-container-3d .swiper-slide-shadow-right {
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.5)), to(transparent));
  /* Safari 4+, Chrome */
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5), transparent);
  /* Chrome 10+, Safari 5.1+, iOS 5+ */
  /* Firefox 3.6-15 */
  /* Opera 11.10-12.00 */
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), transparent);
  /* Firefox 16+, IE10, Opera 12.50+ */
}

.swiper-container-3d .swiper-slide-shadow-top {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(transparent));
  /* Safari 4+, Chrome */
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.5), transparent);
  /* Chrome 10+, Safari 5.1+, iOS 5+ */
  /* Firefox 3.6-15 */
  /* Opera 11.10-12.00 */
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent);
  /* Firefox 16+, IE10, Opera 12.50+ */
}

.swiper-container-3d .swiper-slide-shadow-bottom {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(transparent));
  /* Safari 4+, Chrome */
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5), transparent);
  /* Chrome 10+, Safari 5.1+, iOS 5+ */
  /* Firefox 3.6-15 */
  /* Opera 11.10-12.00 */
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent);
  /* Firefox 16+, IE10, Opera 12.50+ */
}

/* Coverflow */
.swiper-container-coverflow .swiper-wrapper,
.swiper-container-flip .swiper-wrapper {
  /* Windows 8 IE 10 fix */
  -ms-perspective: 1200px;
}

/* Cube + Flip */
.swiper-container-cube,
.swiper-container-flip {
  overflow: visible;
}

.swiper-container-cube .swiper-slide,
.swiper-container-flip .swiper-slide {
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1;
}

.swiper-container-cube .swiper-slide .swiper-slide,
.swiper-container-flip .swiper-slide .swiper-slide {
  pointer-events: none;
}

.swiper-container-cube .swiper-slide-active,
.swiper-container-flip .swiper-slide-active,
.swiper-container-cube .swiper-slide-active .swiper-slide-active,
.swiper-container-flip .swiper-slide-active .swiper-slide-active {
  pointer-events: auto;
}

.swiper-container-cube .swiper-slide-shadow-top,
.swiper-container-flip .swiper-slide-shadow-top,
.swiper-container-cube .swiper-slide-shadow-bottom,
.swiper-container-flip .swiper-slide-shadow-bottom,
.swiper-container-cube .swiper-slide-shadow-left,
.swiper-container-flip .swiper-slide-shadow-left,
.swiper-container-cube .swiper-slide-shadow-right,
.swiper-container-flip .swiper-slide-shadow-right {
  z-index: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* Cube */
.swiper-container-cube .swiper-slide {
  visibility: hidden;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  width: 100%;
  height: 100%;
}

.swiper-container-cube.swiper-container-rtl .swiper-slide {
  -webkit-transform-origin: 100% 0;
  transform-origin: 100% 0;
}

.swiper-container-cube .swiper-slide-active,
.swiper-container-cube .swiper-slide-next,
.swiper-container-cube .swiper-slide-prev,
.swiper-container-cube .swiper-slide-next + .swiper-slide {
  pointer-events: auto;
  visibility: visible;
}

.swiper-container-cube .swiper-cube-shadow {
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.6;
  -webkit-filter: blur(50px);
  filter: blur(50px);
  z-index: 0;
}

/* Fade */
.swiper-container-fade.swiper-container-free-mode .swiper-slide {
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.swiper-container-fade .swiper-slide {
  pointer-events: none;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}

.swiper-container-fade .swiper-slide .swiper-slide {
  pointer-events: none;
}

.swiper-container-fade .swiper-slide-active,
.swiper-container-fade .swiper-slide-active .swiper-slide-active {
  pointer-events: auto;
}

.swiper-zoom-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.swiper-zoom-container > img,
.swiper-zoom-container > svg,
.swiper-zoom-container > canvas {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

/* Scrollbar */
.swiper-scrollbar {
  border-radius: 10px;
  position: relative;
  -ms-touch-action: none;
  background: rgba(0, 0, 0, 0.1);
}

.swiper-container-horizontal > .swiper-scrollbar {
  position: absolute;
  left: 1%;
  bottom: 3px;
  z-index: 50;
  height: 5px;
  width: 98%;
}

.swiper-container-vertical > .swiper-scrollbar {
  position: absolute;
  right: 3px;
  top: 1%;
  z-index: 50;
  width: 5px;
  height: 98%;
}

.swiper-scrollbar-drag {
  height: 100%;
  width: 100%;
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  left: 0;
  top: 0;
}

.swiper-scrollbar-cursor-drag {
  cursor: move;
}

/* Preloader */
.swiper-lazy-preloader {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -21px;
  margin-top: -21px;
  z-index: 10;
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-animation: swiper-preloader-spin 1s steps(12, end) infinite;
  animation: swiper-preloader-spin 1s steps(12, end) infinite;
}

.swiper-lazy-preloader:after {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  background-position: 50%;
  background-size: 100%;
  background-repeat: no-repeat;
}

.swiper-lazy-preloader-white:after {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%23fff'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}

@-webkit-keyframes swiper-preloader-spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes swiper-preloader-spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

#auth {
  width: 100%;
  height: 100%;
  -webkit-transition: opacity 1s cubic-bezier(0.55, 0, 0.1, 1);
  transition: opacity 1s cubic-bezier(0.55, 0, 0.1, 1);
  position: absolute;
  background-color: #d79074;
}

.carouselMode #auth {
  opacity: 0;
  pointer-events: none;
}

#auth .form-label {
  font-size: 12px;
  font-family: "proxima-nova", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.112em;
  padding-bottom: 10px;
  display: block;
  display: block;
  overflow: hidden;
  width: 100%;
  -webkit-transition: all 1s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 1s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transform: translate3d(0, -40px, 0);
          transform: translate3d(0, -40px, 0);
  opacity: 0;
}

.passwordMode #auth .form-label {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  opacity: 1;
}

#auth input {
  -webkit-appearance: none;
  border: 0;
  background: none;
  font-size: 180px;
  font-family: "Lora", serif;
  padding-top: 90px;
  padding-bottom: 168px;
  overflow: hidden;
  width: 100%;
  color: #d79074;
  -webkit-transform: translate3d(200px, 0, 0) scale3d(1.2, 1.2, 1.2);
          transform: translate3d(200px, 0, 0) scale3d(1.2, 1.2, 1.2);
  -webkit-transition: all 1s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 1s cubic-bezier(0.215, 0.61, 0.355, 1);
  opacity: 0;
}

.passwordMode #auth input {
  -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
          transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
  opacity: 1;
}

#auth input:focus {
  outline: none;
}

#auth .bg {
  width: 1550px;
  height: 928.5px;
  -webkit-transform: perspective(1000px) translate3d(0, 0, -20px) scale3d(1, 1, 1);
          transform: perspective(1000px) translate3d(0, 0, -20px) scale3d(1, 1, 1);
  -webkit-transition: all 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  z-index: 0;
}

.passwordMode #auth .bg {
  -webkit-transform: perspective(1000px) scale3d(1.1, 1.1, 1.1) translate3d(0, 0, -240px) !important;
          transform: perspective(1000px) scale3d(1.1, 1.1, 1.1) translate3d(0, 0, -240px) !important;
}

#auth .lock-panel {
  position: absolute;
  width: 500px;
  top: 48%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  z-index: 10;
}

#auth .lock-icon {
  z-index: 2;
  width: 28px;
  display: block;
  margin: 0 auto;
  pointer-events: none;
  opacity: 1;
  -webkit-transform: perspective(40px) translate3d(0, 0, 0) scale3d(1, 1, 1);
          transform: perspective(40px) translate3d(0, 0, 0) scale3d(1, 1, 1);
  -webkit-transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.passwordMode #auth .lock-icon {
  opacity: 0;
  -webkit-transform: translate3d(0, -14px, 0) !important;
          transform: translate3d(0, -14px, 0) !important;
}

#auth .logo {
  width: 174px;
  margin: 0 auto;
  display: block;
  padding-top: 20px;
  pointer-events: none;
  opacity: 1;
  -webkit-transform: perspective(500px) translate3d(0, 0, 0) scale3d(1, 1, 1);
          transform: perspective(500px) translate3d(0, 0, 0) scale3d(1, 1, 1);
  -webkit-transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.passwordMode #auth .logo {
  opacity: 0;
  -webkit-transform: translate3d(0, -5px, 0) !important;
          transform: translate3d(0, -5px, 0) !important;
}

#auth .password-hint {
  color: #fff;
  display: block;
  text-align: center;
  top: 30px;
  position: relative;
  font-size: 12px;
  text-transform: capitalize;
  pointer-events: none;
  -webkit-transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  letter-spacing: 0.03em;
}

.passwordMode #auth .password-hint {
  opacity: 0;
  -webkit-transform: translate3d(0, 10px, 0);
          transform: translate3d(0, 10px, 0);
}

#auth .password-panel {
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.77);
  padding: 70px 46px;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: opacity 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  position: absolute;
  z-index: 30;
}

.passwordMode #auth .password-panel {
  opacity: 1;
  pointer-events: auto;
}

#auth #login-error-msg {
  width: 100%;
  max-width: 210px;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

#auth #login-error-msg.show {
  opacity: 1;
}

#auth #login-error-msg span {
  font-size: 12px;
  font-family: "proxima-nova", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.112em;
  padding-bottom: 10px;
  display: block;
  color: #ff0000;
  padding-bottom: 15px;
  display: block;
}

#auth #login-error-msg p {
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.01em;
}

#menu {
  width: 56%;
  height: 100%;
  background: #d79074;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 1s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: opacity 1s cubic-bezier(0.215, 0.61, 0.355, 1);
  color: #fff;
}

.menuMode #menu {
  opacity: 1;
  pointer-events: auto;
  z-index: 0;
}

#menu .menu-column {
  width: 50%;
  height: 100%;
  float: left;
  padding: 54px 46px;
}

#menu .menu-block {
  display: block;
  width: 100%;
  max-width: 400px;
}

#menu .menu-block .menu-subheadine {
  font-size: 12px;
  font-family: "proxima-nova", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.112em;
  padding-bottom: 10px;
  display: block;
}

#menu .menu-block h1 {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.05em;
  line-height: 28px;
  padding-bottom: 28px;
}

#menu .menu-block p {
  font-size: 12px;
  line-height: 21px;
  letter-spacing: 0.05em;
  padding-bottom: 10px;
  padding-bottom: 22px;
  max-width: 239px;
  font-family: "Lora", serif;
}

#menu .menu-block form {
  padding-top: 4px;
}

#menu .menu-block form label {
  display: none;
}

#menu .menu-block form input {
  background: none;
  border: none;
  color: #fff;
  font-size: 13px;
  padding: 8px 0 6px 0;
  width: 100%;
  border-bottom: 1px solid #fff;
  margin-bottom: 10px;
  max-width: 260px;
}

#menu .menu-block form input:focus {
  outline: none;
}

#menu .menu-block form input::-webkit-input-placeholder {
  font-family: "Lora", serif;
  color: #fff;
}

#menu .menu-block form input::-moz-placeholder {
  font-family: "Lora", serif;
  color: #fff;
}

#menu .menu-block form input:-ms-input-placeholder {
  font-family: "Lora", serif;
  color: #fff;
}

#menu .menu-block form input::placeholder {
  font-family: "Lora", serif;
  color: #fff;
}

#menu .menu-block form #plusone-input.hidden {
  display: none;
}

#menu .menu-block form #plusOne {
  overflow: hidden;
  margin-top: 19px;
  position: relative;
}

#menu .menu-block form #plusOne label, #menu .menu-block form #plusOne input {
  display: block;
}

#menu .menu-block form #plusOne #plusone-checkbox {
  position: absolute;
  top: -3px;
  left: -7px;
}

#menu .menu-block form #plusOne label {
  padding-left: 17px;
  font-size: 12px;
  display: block;
  padding-bottom: 22px;
  letter-spacing: 0.06em;
}

#menu .menu-block form #plusOne label em {
  display: block;
  font-size: 10px;
  position: relative;
  left: -18px;
  top: 6px;
  text-decoration: none;
  font-style: normal;
  letter-spacing: 0em;
}

#menu .menu-block form #rsvp-submit-btn {
  border: 1px solid #fff;
  margin-top: 29px;
  font-family: "Lora", serif;
  font-size: 12px;
  letter-spacing: 0.3em;
  padding: 8px;
  cursor: pointer;
}

#menu .menu-block form #rsvp-submit-btn:hover {
  background: #fff;
  color: #d79074;
}

#menu .menu-block#timeAndLocation {
  margin-top: 60px;
}

#menu .menu-block#qanda {
  margin-top: 110px;
}

#main {
  -webkit-transition: all 1.5s cubic-bezier(0.55, 0, 0.1, 1);
  transition: all 1.5s cubic-bezier(0.55, 0, 0.1, 1);
  opacity: 0;
  pointer-events: none;
}

.carouselMode #main {
  opacity: 1;
  pointer-events: auto;
}

.menuMode #main {
  -webkit-transform: translate3d(56%, 0, 0);
          transform: translate3d(56%, 0, 0);
  pointer-events: none;
}

#main #menu-btn {
  -webkit-appearance: none;
  border: 0;
  background: none;
  position: absolute;
  z-index: 1000;
  width: 44px;
  height: 44px;
  top: 40px;
  left: 13px;
  cursor: pointer;
  display: block;
  -webkit-transition: -webkit-transform 1s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: -webkit-transform 1s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 1s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 1s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 1s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.menuMode #main #menu-btn {
  -webkit-transform: rotate3d(0, 0, 1, 45deg);
          transform: rotate3d(0, 0, 1, 45deg);
  pointer-events: auto;
}

#main #menu-btn:focus {
  outline: none;
}

#main #menu-btn img {
  width: 16px;
}

.swiper-container, .swiper-container-gallery {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  font-size: 18px;
  overflow: hidden;
}

.swiper-container-gallery .swiper-slide {
  background-color: #333;
}

.swiper-container-gallery .swiper-slide:nth-child(1) {
  background: url(../assets/img/gallery/1.jpg) no-repeat center center;
  background-size: cover;
}

.swiper-container-gallery .swiper-slide:nth-child(2) {
  background: url(../assets/img/gallery/2.jpg) no-repeat center center;
  background-size: cover;
}

.swiper-container-gallery .swiper-slide:nth-child(3) {
  background: url(../assets/img/gallery/3.jpg) no-repeat center center;
  background-size: cover;
}

.swiper-container-gallery .swiper-slide:nth-child(4) {
  background: url(../assets/img/gallery/4.jpg) no-repeat center center;
  background-size: cover;
}

.swiper-container-gallery .swiper-slide:nth-child(5) {
  background: url(../assets/img/gallery/5.jpg) no-repeat center center;
  background-size: cover;
}

.swiper-container-gallery .swiper-slide:nth-child(6) {
  background: url(../assets/img/gallery/6.jpg) no-repeat center center;
  background-size: cover;
}

.swiper-container-gallery .swiper-slide:nth-child(7) {
  background: url(../assets/img/gallery/7.jpg) no-repeat center center;
  background-size: cover;
}

.swiper-container-gallery .swiper-slide:nth-child(8) {
  background: url(../assets/img/gallery/8.jpg) no-repeat center center;
  background-size: cover;
}

.swiper-container-gallery .swiper-slide:nth-child(9) {
  background: url(../assets/img/gallery/9.jpg) no-repeat center center;
  background-size: cover;
}

.swiper-container-gallery .swiper-slide:nth-child(10) {
  background: url(../assets/img/gallery/10.jpg) no-repeat center center;
  background-size: cover;
}

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
  background-image: url(../assets/img/right-arrow.png);
  right: 40px;
}

.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
  background-image: url(../assets/img/left-arrow.png);
  left: 40px;
}

.swiper-button-prev, .swiper-button-next {
  width: 12px;
  height: 24px;
  background-size: 12px 24px;
}

.swiper-container-vertical > .swiper-pagination-bullets {
  left: 20px;
  bottom: -15px;
  top: auto;
  width: 35px;
}

.swiper-container-horizontal > .swiper-pagination-bullets {
  position: absolute;
  z-index: 100;
  bottom: 60px;
  margin: 8px;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
}

.swiper-container-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 10px;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 8px;
}

.swiper-pagination-gallery {
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: transparent;
  border: 1px solid #444;
  opacity: 0.8;
  -webkit-transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}

.swiper-pagination-bullet:hover {
  background: #444;
}

.light-mode .swiper-pagination-bullet, .swiper-container-gallery .swiper-pagination-bullet {
  border: 1px solid #f4f4f4;
}

.light-mode .swiper-pagination-bullet:hover, .swiper-container-gallery .swiper-pagination-bullet:hover {
  background: #f4f4f4;
}

.transparent-mode .swiper-pagination-bullet {
  opacity: 0;
}

.transparent-mode .swiper-pagination-bullet:hover {
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: #444444;
  opacity: 1;
  -webkit-transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}

.light-mode .swiper-pagination-bullet-active, .swiper-container-gallery .swiper-pagination-bullet-active {
  background: #f4f4f4;
}

#landing {
  background-color: #efefef;
}

#landing .bg {
  width: 1550px;
  -webkit-transform: translate3d(0, 0, -200px) scale3d(1, 1, 1);
          transform: translate3d(0, 0, -200px) scale3d(1, 1, 1);
  z-index: -1;
  height: 928.5px;
  opacity: 1;
  -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: -webkit-transform 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 0.8s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

#landing .content-container {
  top: 50%;
  -webkit-transform: translate3d(0, -50%, 0);
          transform: translate3d(0, -50%, 0);
  position: relative;
  margin: 0 auto;
  width: 100%;
}

#landing .km-logo {
  width: 72px;
  display: block;
  -webkit-transform: perspective(200px) translate3d(0, 0, 0);
          transform: perspective(200px) translate3d(0, 0, 0);
  -webkit-transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

#landing .logo {
  width: 266px;
  display: block;
  padding-top: 18px;
  -webkit-transform: perspective(600px) translate3d(0, 0, 0);
          transform: perspective(600px) translate3d(0, 0, 0);
  -webkit-transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

#landing ul {
  overflow: hidden;
  padding: 4px 0;
  text-align: center;
  margin: 0 auto;
  left: 64px;
  position: relative;
  top: -34px;
}

#landing ul li {
  font-family: 'proxima-nova', sans-serif;
  display: inline-block;
  width: 19.3%;
  text-align: left;
  position: relative;
  padding: 0 20px;
  box-sizing: border-box;
  color: #444444;
  font-weight: 400;
}

#landing ul li span {
  position: relative;
  left: 0;
  font-size: 15px;
}

#landing ul li:first-child {
  width: 29%;
}

#invitation {
  background-color: #d69074;
  color: #fff;
}

#invitation .content-container {
  max-width: 252px;
  width: 100%;
  text-align: left;
  top: 50%;
  -webkit-transform: translate3d(0, -50%, 0);
          transform: translate3d(0, -50%, 0);
  position: relative;
  padding: 0 11.8%;
}

#invitation .countdown-container {
  width: 50%;
  min-width: 580px;
  height: 100%;
  background: #f4f4f4;
  position: absolute;
  right: 0;
  top: 0;
}

#invitation .countdown-container-wrapper {
  height: auto;
  overflow: hidden;
  display: block;
  padding: 6px 0;
  top: 50%;
  -webkit-transform: translate3d(0, -50%, 0);
          transform: translate3d(0, -50%, 0);
  position: relative;
  margin-top: 82px;
}

#invitation .countdown-container .thedate {
  width: 490px;
  margin: 0 auto;
}

#invitation .countdown-container .countdown {
  width: 490px;
  margin: 0 auto;
  color: #444444;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}

#invitation .countdown-container .countdown.hidden {
  opacity: 0;
  -webkit-transform: translate3d(0, -40px, 0);
          transform: translate3d(0, -40px, 0);
}

#invitation .countdown-container .thedate {
  color: #d69074;
  font-family: 'Lora', sans-serif;
  font-size: 80px;
  opacity: 0.7;
  font-weight: normal;
  display: block;
}

#invitation .countdown-container .thedate span {
  padding: 0 2px;
  letter-spacing: 0.06em;
}

#invitation .countdown-container .countdown {
  color: #444;
  text-align: left;
  padding-top: 127px;
  padding-left: 16px;
}

#invitation .countdown-container .countdown .days, #invitation .countdown-container .countdown .hours, #invitation .countdown-container .countdown .mins, #invitation .countdown-container .countdown .secs {
  position: relative;
  font-family: 'proxima-nova', sans-serif;
  padding-bottom: 16px;
  padding-right: 24px;
  font-size: 30px;
  font-weight: 300;
}

#invitation .countdown-container .countdown .days:before, #invitation .countdown-container .countdown .hours:before, #invitation .countdown-container .countdown .mins:before, #invitation .countdown-container .countdown .secs:before {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  color: #444;
  font-size: 14px;
  font-family: 'Lora', sans-serif;
}

#invitation .countdown-container .countdown .days:before {
  content: 'Days';
}

#invitation .countdown-container .countdown .hours {
  padding-right: 30px;
}

#invitation .countdown-container .countdown .hours:before {
  content: 'Hour';
}

#invitation .countdown-container .countdown .hours:after {
  content: ':';
  position: absolute;
  display: block;
  top: 9px;
  font-size: 22px;
  font-weight: 400;
  right: 9px;
}

#invitation .countdown-container .countdown .mins {
  padding-right: 30px;
}

#invitation .countdown-container .countdown .mins:before {
  content: 'Min.';
}

#invitation .countdown-container .countdown .mins:after {
  content: ':';
  position: absolute;
  display: block;
  top: 9px;
  font-size: 22px;
  font-weight: 400;
  right: 9px;
}

#invitation .countdown-container .countdown .secs:before {
  content: 'Sec.';
}

#invitation .countdown-container .countdown .countdown-label {
  display: block;
  padding-top: 43px;
  letter-spacing: 0.05em;
  font-size: 14px;
}

.personal-gallery {
  position: relative;
  padding: 0 100px;
  height: 100%;
  overflow: hidden;
}

.personal-gallery .gallery-movingUp-area,
.personal-gallery .gallery-movingDown-area {
  width: 60%;
  height: 50%;
  display: block;
  position: absolute;
  z-index: 1000;
  left: 0;
  padding-left: 100px;
  padding-right: 20px;
  box-sizing: border-box;
}

.personal-gallery .gallery-movingUp-area .up-icon,
.personal-gallery .gallery-movingUp-area .down-icon,
.personal-gallery .gallery-movingDown-area .up-icon,
.personal-gallery .gallery-movingDown-area .down-icon {
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.personal-gallery .gallery-movingUp-area:hover .up-icon,
.personal-gallery .gallery-movingDown-area:hover .up-icon {
  -webkit-transform: translate3d(0, 20px, 0) scale3d(1.3, 1.3, 1.3);
          transform: translate3d(0, 20px, 0) scale3d(1.3, 1.3, 1.3);
}

.personal-gallery .gallery-movingUp-area:hover .down-icon,
.personal-gallery .gallery-movingDown-area:hover .down-icon {
  -webkit-transform: translate3d(0, -20px, 0) scale3d(1.3, 1.3, 1.3);
          transform: translate3d(0, -20px, 0) scale3d(1.3, 1.3, 1.3);
}

.personal-gallery.matt-gallery-container .gallery-movingUp-area,
.personal-gallery.matt-gallery-container .gallery-movingDown-area {
  right: 0;
  left: auto;
  padding-right: 100px;
  padding-left: 20px;
}

.personal-gallery.matt-gallery-container .gallery-scroller {
  float: right;
}

.personal-gallery.matt-gallery-container .gallery-movingUp-area .up-icon,
.personal-gallery.matt-gallery-container .gallery-movingUp-area .down-icon,
.personal-gallery.matt-gallery-container .gallery-movingDown-area .up-icon,
.personal-gallery.matt-gallery-container .gallery-movingDown-area .down-icon {
  right: 100px;
  left: 20px;
}

.personal-gallery .gallery-movingUp-area {
  top: 0;
}

.personal-gallery .gallery-movingUp-area .up-icon {
  width: 24px;
  height: 12px;
  margin: 0 auto;
  display: block;
  top: 60px;
  position: absolute;
  left: 100px;
  right: 20px;
}

.personal-gallery .gallery-movingDown-area {
  bottom: 0;
}

.personal-gallery .gallery-movingDown-area .down-icon {
  width: 24px;
  height: 12px;
  margin: 0 auto;
  display: block;
  bottom: 60px;
  position: absolute;
  left: 100px;
  right: 20px;
}

.personal-gallery ul {
  width: 60%;
  padding: 12px 0;
}

.personal-gallery ul li {
  padding: 12px 0;
}

.personal-gallery img {
  width: 100%;
}

.swiper-slide h2 {
  font-size: 12px;
  font-family: 'proxima-nova', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding-bottom: 10px;
}

.swiper-slide h1 {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.05em;
  line-height: 28px;
  padding-bottom: 28px;
}

.swiper-slide p {
  font-size: 12px;
  line-height: 21px;
  letter-spacing: 0.05em;
  padding-bottom: 10px;
}

.swiper-slide button {
  -webkit-appearance: none;
  border: 1px solid #fff;
  font-family: 'Lora', serif;
  background: transparent;
  color: #fff;
  width: 100%;
  display: block;
  padding: 7px 4px;
  margin-top: 32px;
  font-size: 13px;
  letter-spacing: 0.37em;
  cursor: pointer;
  -webkit-transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}

.swiper-slide button:hover {
  background: #fff;
  color: #d69074;
}

.gallery-intro {
  position: absolute;
  top: 70%;
  left: 70%;
  -webkit-transform: translate3d(0, -50%, 0);
          transform: translate3d(0, -50%, 0);
}

.gallery-intro .gallery-intro-rows {
  padding-bottom: 28px;
}

.gallery-intro span {
  text-transform: uppercase;
  font-family: 'proxima-nova', sans-serif;
  font-size: 13px;
  letter-spacing: 0.04em;
  color: #d69074;
  font-weight: 300;
  padding-bottom: 2px;
  display: block;
}

.gallery-intro p {
  font-size: 15px;
  letter-spacing: -0.01em;
  padding-top: 5px;
  padding-bottom: 1px;
  line-height: 18px;
}

.matt-gallery-container + .gallery-intro {
  left: auto;
  right: 70%;
}

#quote {
  background: #d69074;
}

#quote blockquote {
  z-index: 10;
  position: absolute;
  top: 40%;
  -webkit-transform: translate3d(0, -50%, 0);
          transform: translate3d(0, -50%, 0);
  padding: 100px;
  color: #fff;
  opacity: 0.4;
  max-width: 810px;
  -webkit-transition: opacity 10s cubic-bezier(0.55, 0, 0.1, 1);
  transition: opacity 10s cubic-bezier(0.55, 0, 0.1, 1);
}

#quote blockquote p {
  font-size: 43px;
  line-height: 61px;
  letter-spacing: -0.01em;
  line-height: 62px;
}

#quote cite {
  position: absolute;
  bottom: 60px;
  z-index: 10;
  color: #fff;
  text-decoration: none;
  font-style: normal;
  font-size: 18px;
  padding-left: 100px;
  letter-spacing: -0.01em;
  -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: -webkit-transform 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 0.8s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
}

#quote #quote-landing {
  z-index: 5;
  width: 1550px;
  -webkit-transform: perspective(400px) translate3d(0, 0, -10px) scale3d(1, 1, 1);
          transform: perspective(400px) translate3d(0, 0, -10px) scale3d(1, 1, 1);
  z-index: 0;
  height: 928.5px;
  opacity: 1;
  -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: -webkit-transform 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 0.8s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

#quote.carousel-slide-active blockquote {
  opacity: 1;
}

#location {
  background: #d69074;
}

#location .location-shot {
  width: 1440px;
  height: 415px;
  position: absolute;
  bottom: 0;
  left: 50%;
  right: 0;
  margin: 0 auto;
  z-index: 100;
  -webkit-transform: translate3d(-50%, 0, 0);
          transform: translate3d(-50%, 0, 0);
}

#location #location-landing {
  z-index: 5;
  width: 1550px;
  -webkit-transform: perspective(400px) translate3d(0, 0, -10px) scale3d(1, 1, 1);
          transform: perspective(400px) translate3d(0, 0, -10px) scale3d(1, 1, 1);
  z-index: 0;
  height: 928.5px;
  opacity: 1;
  -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: -webkit-transform 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 0.8s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

#location .where-content {
  width: 40%;
  height: 100%;
  z-index: 1000;
  background-color: rgba(242, 242, 242, 0.85);
  top: 0;
  right: 0;
  position: absolute;
  min-width: 574px;
  padding: 300px 60px 60px 140px;
  box-sizing: border-box;
}

#location .where-content-wrapper {
  position: absolute;
  bottom: 92px;
}

#location .where-content .label {
  text-transform: uppercase;
  font-family: 'proxima-nova', sans-serif;
  font-size: 13px;
  letter-spacing: 0.04em;
  color: #d69074;
  font-weight: 300;
  padding-bottom: 2px;
  display: block;
}

#location .where-content p {
  font-size: 18px;
  letter-spacing: 0.02em;
  padding-top: 4px;
  line-height: 28px;
  padding-bottom: 28px;
}

#location .where-content span {
  display: inline-block;
  width: 46%;
  vertical-align: top;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 22px;
  max-width: 110px;
  margin-right: 23px;
}

#location .where-content a {
  display: block;
  font-size: 14px;
  color: #d69074;
  padding-top: 12px;
  text-decoration: none;
  z-index: 1000;
  cursor: pointer;
}

#location .where-content a:hover {
  text-decoration: underline;
}

#seeyou #seeyou-landing {
  z-index: 5;
  width: 1550px;
  -webkit-transform: perspective(400px) translate3d(0, 0, -10px) scale3d(1, 1, 1);
          transform: perspective(400px) translate3d(0, 0, -10px) scale3d(1, 1, 1);
  z-index: 0;
  height: 928.5px;
  opacity: 1;
  -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: -webkit-transform 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 0.8s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

#seeyou span {
  font-size: 24px;
  color: #d69074;
  top: 50%;
  -webkit-transform: translate3d(0, -50%, 0);
          transform: translate3d(0, -50%, 0);
  position: absolute;
  z-index: 1000;
  left: 12%;
}
