@charset "UTF-8";
/*************************************
	Shared — Reset
	http://meyerweb.com/eric/tools/css/reset/
	v2.0b1 | 201101
	NOTE: WORK IN PROGRESS
	USE WITH CAUTION AND TEST WITH ABANDON 
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* remember to define visible focus styles!
:focus {
	outline: ?????;
} */
/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: 'Lora', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #444;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body, main {
  width: 100%;
  height: 100%;
}

html, body {
  margin: 0;
  overflow: hidden;
}

img.full-bleed {
  min-height: 100%;
  min-width: 100%;
  height: auto;
  width: auto;
  position: absolute;
  top: -100%;
  bottom: -100%;
  left: -100%;
  right: -100%;
  margin: auto;
}

#auth {
  width: 100%;
  height: 100%;
  -webkit-transition: opacity 1s cubic-bezier(0.55, 0, 0.1, 1);
  transition: opacity 1s cubic-bezier(0.55, 0, 0.1, 1);
  position: absolute;
}

.invitationMode #auth {
  opacity: 0;
  pointer-events: none;
}

#auth .form-label {
  font-family: 'proxima-nova', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.112em;
  display: block;
  overflow: hidden;
  width: 100%;
  -webkit-transform: translate3d(0, -40px, 0);
          transform: translate3d(0, -40px, 0);
  -webkit-transition: all 1s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 1s cubic-bezier(0.215, 0.61, 0.355, 1);
  opacity: 0;
}

.passwordMode #auth .form-label {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  opacity: 1;
}

#auth input {
  -webkit-appearance: none;
  border: 0;
  background: none;
  font-size: 180px;
  font-family: 'Lora', serif;
  padding-top: 90px;
  padding-bottom: 168px;
  overflow: hidden;
  width: 100%;
  -webkit-transform: translate3d(200px, 0, 0) scale3d(1.2, 1.2, 1.2);
          transform: translate3d(200px, 0, 0) scale3d(1.2, 1.2, 1.2);
  -webkit-transition: all 1s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 1s cubic-bezier(0.215, 0.61, 0.355, 1);
  opacity: 0;
}

.passwordMode #auth input {
  -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
          transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
  opacity: 1;
}

#auth input:focus {
  outline: none;
}

#auth .bg {
  width: 1718px;
  -webkit-transform: translate3d(0, 0, -20px) scale3d(1, 1, 1);
          transform: translate3d(0, 0, -20px) scale3d(1, 1, 1);
  z-index: -1;
  height: 1029px;
  opacity: 1;
  -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: -webkit-transform 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 0.8s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.passwordMode #auth .bg {
  -webkit-transform: scale3d(1.1, 1.1, 1.1) translate3d(0, 0, -1000px) !important;
          transform: scale3d(1.1, 1.1, 1.1) translate3d(0, 0, -1000px) !important;
  opacity: 1;
}

#auth .lock-panel {
  position: absolute;
  width: 500px;
  margin: 0 auto;
  top: 48%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
}

#auth .lock-icon {
  z-index: 2;
  width: 28px;
  display: block;
  margin: 0 auto;
  pointer-events: none;
  opacity: 1;
  -webkit-transform: perspective(600px) translate3d(0, 0, 0);
          transform: perspective(600px) translate3d(0, 0, 0);
  -webkit-transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.passwordMode #auth .lock-icon {
  opacity: 0;
  -webkit-transform: translate3d(0, 20px, 0);
          transform: translate3d(0, 20px, 0);
}

#auth .logo {
  width: 174px;
  margin: 0 auto;
  display: block;
  padding-top: 20px;
  pointer-events: none;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  opacity: 1;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.passwordMode #auth .logo {
  opacity: 0;
  -webkit-transform: translate3d(0, 20px, 0);
          transform: translate3d(0, 20px, 0);
}

#auth .password-panel {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 70px 46px;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.passwordMode #auth .password-panel {
  opacity: 1;
  pointer-events: auto;
}

#auth #login-error-msg {
  width: 100%;
  max-width: 210px;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

#auth #login-error-msg.show {
  opacity: 1;
}

#auth #login-error-msg span {
  font-family: 'proxima-nova', sans-serif;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.112em;
  text-transform: uppercase;
  color: #ff0000;
  padding-bottom: 15px;
  display: block;
}

#auth #login-error-msg p {
  font-size: 17px;
  line-height: 18px;
  letter-spacing: 0.01em;
}

#main {
  -webkit-transition: opacity 1s cubic-bezier(0.55, 0, 0.1, 1);
  transition: opacity 1s cubic-bezier(0.55, 0, 0.1, 1);
  opacity: 0;
  pointer-events: none;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.invitationMode #main {
  opacity: 1;
  pointer-events: auto;
}
