/* --------------------------------------------------------
krizaandmatt.com Invitation Stylesheet

version: 0.9
author: Ryan Ko
email: rko@ryanko.me
website: www.ryanko.me
----------------------------------------------------------*/

#invitation {
	color: $content;
	background-color: $primaryColor;

	.content-container {
		@include vertical-center();
		max-width: 252px;
		width: 100%;
		text-align: left;
		position: relative;
		padding: 0 11.8%;

		@media (max-width: 780px) {
			box-sizing: border-box;
			padding: 0 0 0 0;
			max-width: 260px;
			margin: 0 auto;
		}

		h2 {
			&.mobile {
				display: none;
			}
			@media (max-width: 780px) {
				display: none;

				&.mobile {
					display: block;
				}
			}
		}
	}

	.countdown-container {
		width: 50%;
		min-width: 580px;
		height: 100%;
		background: $contentBg;
		position: absolute;
		right: 0;
		top: 0;

		@media (max-width: 1075px) {
			min-width: inherit;
		}

		@media (max-width: 780px) {
			display: none;
		}

		&-wrapper {
			height: auto;
			overflow: hidden;
			display: block;
			padding: 6px 0;
			@include vertical-center();
			position: relative;
			margin-top: 82px;
		}

		.thedate {
			width: 490px;
			margin: 0 auto;
			color: $primaryColor;
			font-size: 80px;
			opacity: 0.7;
			font-weight: normal;
			display: block;

			@media (max-width: 1075px) {
				width: 310px;
				font-size: 50px;
			}

			span {
				padding: 0 2px;
				letter-spacing: 0.06em;
			}
		}

		.countdown {
			width: 490px;
			margin: 0 auto;
			color: $menuContentLight;
			opacity: 1;
			transform: translate3d(0, 0, 0);
			transition: all 1s $gravityEase;
			text-align: left;
			padding-top: 127px;
			padding-left: 16px;

			@media (max-width: 1075px) {
				width: 310px;
				padding-top: 154px;
			}

			&.hidden {
				opacity: 0;
				transform: translate3d(0, -60px, 0);
			}

			.days, .hours, .mins, .secs {
				position: relative;
				font-family: $secondaryFont;
				padding-bottom: 16px;
				padding-right: 24px;
				font-size: 30px;
				font-weight: 300;

				&:before {
					font-family: $primaryFont;
					position: absolute;
					bottom: 0;
					left: 0;
					display: block;
					font-size: 14px;
				}
			}
			.days {
				&:before {
					content: 'Days';
				}
			}
			.hours {
				&:before {
					content: 'Hour';
				}
			}
			.mins {
				&:before {
					content: 'Min.';
				}
			}
			.hours, .mins {
				padding-right: 30px;
				&:after {
					content: ':';
					position: absolute;
					display: block;
					top: 9px;
					font-size: 22px;
					font-weight: 400;
					right: 9px;
				}
			}
			.secs {
				&:before {
					content: 'Sec.';
				}
			}

			.countdown-label {
				display: block;
				padding-top: 43px;
				letter-spacing: 0.05em;
				font-size: 14px;
			}
		}
	}
}