/* --------------------------------------------------------
krizaandmatt.com Landing Stylesheet

version: 0.9
author: Ryan Ko
email: rko@ryanko.me
website: www.ryanko.me
----------------------------------------------------------*/

#landing {
	background-color: #efefef;
	.bg {
		@include parallax-bg-setup(0, -200, 0.8s);
		z-index: -1;
	}
	.content-container {
		@include vertical-center();
		position: relative;
		margin: 0 auto;
		width: 100%;
	}
	.km-logo {
		width: 72px;
		display: block;
		@include parallax-setup(200, 0, 0.4s);
	}
	.logo {
		width: 266px;
		display: block;
		padding-top: 18px;
	}

	ul {
		overflow: hidden;
		padding: 4px 0;
		text-align: center;
		margin: 0 auto;
		left: 64px;
		position: relative;
		top: -34px;

		li {
			font-family: 'proxima-nova', sans-serif;
			display: inline-block;
			width: 19.3%;
			text-align: left;
			position: relative;
			padding: 0 20px;
			box-sizing: border-box;
			color: $menuContentLight;
			font-weight: 400;
			letter-spacing: 0.05em;
			line-height: 17px;

			span {
				position: relative;
				left: 0;
				font-size: 15px;
				top: -1px;
			}

			&:first-child {
				width: 29%;
			}
		}
	}
}