#location {
	background: $primaryColor;
	.location-shot {
		width: 1440px;
		height: 415px;
		position: absolute;
		bottom: 0;
		left: 50%;
		right: 0;
		margin: 0 auto;
		z-index: 100;
		transform: translate3d(-50%, 0, 0);
	}
	#location-landing {
		@include parallax-bg-setup(400px, -10px, 0.8s);
		z-index: 0;
		opacity: 1;
	}
	.where-content {
		width: 40%;
		height: 100%;
		z-index: 1000;
		background-color: rgba(242, 242, 242, 0.9);
		top: 0;
		right: 0;
		position: absolute;
		min-width: 574px;
		padding: 300px 60px 60px 140px;
		box-sizing: border-box;
		transform: translate3d(0, 0, 100px);

		@media (max-width: 648px) {
			width: 100%;
			padding: 31px;
			min-width: initial;
		}

		&-wrapper {
			position: absolute;
			bottom: 92px;

			@media (max-width: 648px) {
				position: relative;
				bottom: auto;
				top: 90px;
			}
		}

		.label {
			@include sub-headline();
			color: $primaryColor;
			padding-bottom: 2px;
			display: block;
		}

		p {
			@include content-headline();
			padding-top: 4px;

			@media (max-width: 515px) {
				padding-bottom: 50px;
			}
		}

		span {
			display: inline-block;
			width: 46%;
			vertical-align: top;
			box-sizing: border-box;
			font-size: 14px;
			line-height: 22px;
			max-width: 110px;
			margin-right: 23px;
			letter-spacing: 0.05em;
			padding-bottom: 10px;
		}

		a {
			display: block;
			font-size: 14px;
			color: $primaryColor;
			padding-top: 12px;
			text-decoration: none;
			z-index: 1000;
			cursor: pointer;
			letter-spacing: 0.05em;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}