#auth {
	width: 100%;
	height: 100%;
	transition: opacity 1s cubic-bezier(.55,0,.1,1);
	position: absolute;
	.invitationMode & {
		opacity: 0;
		pointer-events: none;
	}

	.form-label {
		font-family: 'proxima-nova', sans-serif;
		font-weight: 400;
		text-transform: uppercase;
		font-size: 12px;
		letter-spacing: 0.112em;
		display: block;
		overflow: hidden;
		width: 100%;
		transform: translate3d(0, -40px, 0);
		transition: all 1s cubic-bezier(.215, .61, .355, 1);
		opacity: 0;

		.passwordMode & {
			transform: translate3d(0, 0, 0);
			opacity: 1;
		}
	}
	input {
		-webkit-appearance: none;
		border: 0;
		background: none;
		font-size: 180px;
		font-family: 'Lora', serif;
		padding-top: 90px;
		padding-bottom: 168px;
		overflow: hidden;
		width: 100%;

		transform: translate3d(200px, 0, 0) scale3d(1.2, 1.2, 1.2);
		transition: all 1s cubic-bezier(.215, .61, .355, 1);
		opacity: 0;

		.passwordMode & {
			transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
			opacity: 1;
		}

		&:focus {
			outline: none;
		}
	}
	.bg {
		width: 1718px;
		transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
		z-index: -1;
		height: 1029px;
		opacity: 1;
		transition: transform 0.8s cubic-bezier(.215, .61, .355, 1);

		.passwordMode & {
			transform: scale3d(1.08, 1.08, 1.08) translate3d(0,0,0) !important;
			opacity: 1;
		}
	}
	.lock-panel {
		position: absolute;
		width: 500px;
		margin: 0 auto;
		top: 48%;
		left: 50%;
		transform: translate3d(-50%, -50%, 0);
	}
	.lock-icon {
		z-index: 2;
		width: 28px;
		display: block;
		margin: 0 auto;
		pointer-events: none;
		transition: all 0.4s cubic-bezier(.215, .61, .355, 1);
		opacity: 1;
		transform: translate3d(0, 0, 0);
		transform-style: preserve-3d;
		backface-visibility: hidden;
		.passwordMode & {
			opacity: 0;
			transform: translate3d(0, 20px, 0);
		}
	}
	.logo {
		width: 174px;
		margin: 0 auto;
		display: block;
		padding-top: 20px;
		pointer-events: none;
		transform: translate3d(0, 0, 0);
		transition: all 0.6s cubic-bezier(.215, .61, .355, 1);
		opacity: 1;
		transform-style: preserve-3d;
		backface-visibility: hidden;

		.passwordMode & {
			opacity: 0;
			transform: translate3d(0, 20px, 0);
		}
	}
	.password-panel {
		width: 100%;
		height: 100%;
		background-color: rgba(255, 255, 255, 0.3);
		padding: 70px 46px;
		opacity: 0;
		pointer-events: none;
		transition: opacity 0.3s ease;

		.passwordMode & {
			opacity: 1;
			pointer-events: auto;
		}
	}

	#login-error-msg {
		width: 100%;
		max-width: 210px;
		opacity: 0;
		transition: opacity 0.3s ease;

		&.show {
			opacity: 1;
		}
		span {
			font-family: 'proxima-nova', sans-serif;
			font-size: 12px;
			font-weight: 400;
			letter-spacing: 0.112em;
			text-transform: uppercase;
			color: #ff0000;
			padding-bottom: 15px;
			display: block;
		}
		p {
			font-size: 17px;
			line-height: 18px;
			letter-spacing: 0.01em;
		}
	}
}