/* --------------------------------------------------------
krizaandmatt.com Main/Overall Stylesheet

version: 0.9
author: Ryan Ko
email: rko@ryanko.me
website: www.ryanko.me
----------------------------------------------------------*/

#main {
	transition: transform 1.5s $gravityEase;
	opacity: 0;
	pointer-events: none;

	#backToTop {
		@include resetWebkitAppearance();
		position: absolute;
		bottom: 292px;
		left: -8px;
		z-index: 10000;
		font-size: 11px;
		letter-spacing: 0.1em;
		color: $menuContentLight;
		cursor: pointer;
		transition: all 1s $parallaxEase;
		opacity: 0;
		transform: translate3d(-10px, 0, 0) rotateZ(-90deg);

		&.show {
			opacity: 1;
			transform: translate3d(0, 0, 0) rotateZ(-90deg);
		}

		&:focus {
			outline: none;
		}

		&:hover {
			text-decoration: underline;
		}
	}

	.carouselMode & {
		opacity: 1;
		pointer-events: auto;
	}

	&.entranceMode {
		.bg {
			transition: opacity 2s $parallaxEase 2s !important;
		}
		.logo {
			transition: opacity 2s $parallaxEase 3s !important;
		}
		.km-logo {
			transition: opacity 2s $parallaxEase 3.7s !important;
		}
		.landing-labels {
			transition: opacity 2s $parallaxEase 4.4s !important;
		}
		#menu-btn {
			transition: opacity 2s $parallaxEase 5s !important;
		}
	}

	&.loading {
		.km-logo, .logo, .bg, .landing-labels, #menu-btn {
			opacity: 0;
		}
	}

	.menuMode & {
		transform: translate3d($menuWidth, 0, 0);
	}

	#menu-btn {
		@include resetWebkitAppearance();
		position: absolute;
		z-index: 1000;
		width: 44px;
		height: 44px;
		top: 40px;
		left: 13px;
		cursor: pointer;
		display: block;
		transition: transform 1.5s $bounceEase;

		.menuMode & {
			transform: rotate3d(0, 0, 1, 45deg);
			pointer-events: auto;
		}

		&:focus {
			outline: none;
		}

		img {
			width: 16px;
			position: absolute;
			transition: opacity 1s $parallaxEase;
			left: 14px;
			top: 16px;
		}
		.white {
			opacity: 0;
		}
		.black {
			opacity: 1;
		}

		&.light-mode {
			.white {
				opacity: 1;
			}
			.black {
				opacity: 0;
			}
		}
	}
}