/* --------------------------------------------------------
krizaandmatt.com Menu Stylesheet

version: 0.9
author: Ryan Ko
email: rko@ryanko.me
website: www.ryanko.me
----------------------------------------------------------*/
$menuWidth: 56%;
$menuBreakpoint1: 1288px;
$menuBreakpoint2: 1028px;
$menuBreakpoint4: 727px;

#menu {
	width: $menuWidth;
	height: 100%;
	background: $primaryColor;
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;
	opacity: 1;
	pointer-events: none;
	transition: all 1s $parallaxEase;
	color: $content;
	overflow: hidden;

	@media(max-width: $menuBreakpoint1) {
		width: $menuWidth + $menuWidth * 0.1;
	}

	@media(max-width: $menuBreakpoint2) {
		width: $menuWidth + $menuWidth * 0.5;
	}

	@media(max-width: $menuBreakpoint4) {
		width: 100%;
		overflow: scroll;
		-webkit-overflow-scrolling: touch;
	}

	.menuMode & {
		pointer-events: auto;
		z-index: 0;
	}

	.menu-column {
		width: 50%;
		height: 100%;
		float: left;
		position: relative;
		padding-right: 90px;
		padding-left: 46px;
		padding-top: 56px;
		padding-bottom: 56px;

		&:first-child {
			padding-right: 100px;
			padding-left: 46px;

			@media(max-width: $menuBreakpoint1) {
				padding-right: 70px;
			}

			&:before {
				content: '';
				position: absolute;
				top: 7.5%;
				right: 7%;
				width: 1px;
				height: 85%;
				border-right: 1px dotted $content;
				opacity: 0;
				transition-delay: 0.5s !important;
				transition: transform 1.3s $gravityEase, opacity 2s $gravityEase;
				transform: translate3d(-144px, 0, 0);

				.menuMode & {
					transform: translate3d(0,0,0);
					opacity: 0.5;
				}
			}

			@media(max-width: $menuBreakpoint4) {
				&:before {
					display: none;
				}
			}

			.menu-block {
				&:nth-child(1),
				&:nth-child(2) {
					transition-delay: 0.4s;

					@media (max-width: 515px) {
						transition-delay: 0s;
					}

					.menuMode & {
						transform: translate3d(0, 0, 0);
						opacity: 1;
					}
				}
			}
		}

		@media(max-width: $menuBreakpoint1) {
			padding-right: 46px;
			padding-left: 16px;
		}

		@media(max-width: $menuBreakpoint4) {
			width: 100%;
			height: auto;
			padding: 0 28px 56px 28px !important;
			max-width: 320px;
			margin: 0 auto;
			float: none;

			&:first-child {
				padding-top: 56px !important;
				border-bottom: 1px dotted rgba(255, 255, 255, 0.5);
				padding-bottom: 28px !important;
				margin-bottom: 28px !important;
			}
		}

		.menu-block {
			display: block;
			width: 100%;
			max-width: 515px;
			transform: translate3d(-144px, 0, 0);
			transition: transform 1.3s $gravityEase, opacity 2s $gravityEase;
			opacity: 0;

			&:nth-child(1),
			&:nth-child(2) {
				transition-delay: 0.6s;

				@media (max-width: 515px) {
					transition-delay: 0s;
				}

				.menuMode & {
					transform: translate3d(0,0,0);
					opacity: 1;
				}
			}
		}
	}
	.menu-block {
		.menu-subheadine {
			@include sub-headline();
		}

		h1 {
			@include content-headline();
		}

		p {
			@include content-block();
			padding-bottom: 22px;
			font-family: $primaryFont;
		}
		form {
			padding-top: 4px;

			&.disabled {
				opacity: 0.6;
			}

			label {
				display: none;
			}
			input {
				@include resetWebkitAppearance();
				color: $content;
				font-size: 13px;
				padding: 8px 0 6px 0;
				width: 100%;
				border-bottom: 1px solid $content;
				margin-bottom: 10px;
				max-width: 260px;
				transition: all 1s $parallaxEase;

				&:focus {
					outline: none;
				}

				&::placeholder {
					font-family: $primaryFont;
					color: $content;
					transition: all 1s $parallaxEase;
				}
			}
			#plusone-input {
				&.hidden {
					display: none;
				}
			}
			#plusOne {
				overflow: hidden;
				margin-top: 20px;
				position: relative;
				label, input {
					display: block;
				}
				#plusone-checkbox {
					@include resetWebkitAppearance();
					position: absolute;
					top: 1px;
					left: -2px;
					box-shadow: none;
					background-image: url(../assets/img/checkbox.jpg);
					background-size: 10px 10px;
					background-repeat: no-repeat;
					width: 100%;
					height: 24px;
					display: block;
					padding: 0;
					border-bottom: none !important;

					&:checked {
						background-image: url(../assets/img/checkbox-checked.jpg);
					}
				}
				label {
					@include content-block();
					padding-left: 22px;
					display: block;
					padding-bottom: 22px;
				}
			}

			#rsvp-submit-btn {
				@include bordered-button();
				margin-top: 29px;
			}
		}
		&#timeAndLocation {
			margin-top: 60px;

			@media (max-width: $menuBreakpoint1) {
				margin-top: 30px;
			}
		}
		&#qanda {
			margin-top: 80px;
		}
	}

	&.light-mode {
		background: $menuBgLight;
		color: $menuContentLight;

		#plusone-checkbox {
			background-image: url(../assets/img/checkbox-light.jpg) !important;

			&:checked {
				background-image: url(../assets/img/checkbox-checked-light.jpg) !important;
			}
		}

		input, #rsvp-submit-btn {
			border-bottom: 1px solid $menuContentLight !important;
			color: $menuContentLight !important;
		}
		input {
			&::placeholder {
				color: $menuContentLight !important;
			}
		}
		#rsvp-submit-btn {
			border: 1px solid $menuContentLight !important;
			&:hover {
				background: $menuContentLight !important;
				color: $menuBgLight !important;
			}
		}
		.menu-column {
			&:first-child {
				&:before {
					border-right: 1px dotted $menuContentLight !important;
				}
				border-bottom: 1px dotted rgba(68, 68, 68, 0.25) !important;
			}
		}
	}
}