/* --------------------------------------------------------
krizaandmatt.com Personal Gallery Stylesheet

version: 0.9
author: Ryan Ko
email: rko@ryanko.me
website: www.ryanko.me
----------------------------------------------------------*/
.swiper-container-personalGallery,
.swiper-container-personalGallery2 {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	display: none;

	.swiper-slide {
		position: relative;
		overflow: hidden;
		img {
			width: 100%;
			display: block;
			margin: 0 auto;
		}
	}

	@media (max-width: 868px) {
		display: block;
	}
}

.personal-gallery {
	position: relative;
	padding: 0 100px;
	height: 100%;
	overflow: hidden;

	@media (max-width: 868px) {
		display: none;
	}

	.gallery-movingUp-area,
	.gallery-movingDown-area {
		width: 60%;
		height: 50%;
		display: block;
		position: absolute;
		z-index: 1000;
		left: 0;
		padding-left: 100px;
		padding-right: 20px;
		box-sizing: border-box;

		@media (max-width: 868px) {
			width: 50%;
		}

		.up-icon,
		.down-icon {
			transition: transform 1s $parallaxEase;
			transform: translate3d(0,0,0) scale3d(1, 1, 1);
		}

		&:hover {
			.up-icon {
				transform: translate3d(0, 20px, 0) scale3d(1.3, 1.3, 1.3);
			}

			.down-icon {
				transform: translate3d(0, -20px, 0) scale3d(1.3, 1.3, 1.3);
			}
		}
	}

	&.matt-gallery-container {
		.gallery-movingUp-area,
		.gallery-movingDown-area {
			right: 0;
			left: auto;
			padding-right: 100px;
			padding-left: 20px;
		}
		.gallery-scroller {
			float: right;
		}
		.gallery-movingUp-area,
		.gallery-movingDown-area {
			.up-icon,
			.down-icon {
				right: 100px;
				left: 20px;

				// @media (max-width: 868px) {
				// 	right: 28px;
				// }
			}
		}
	}
	.gallery-movingUp-area {
		top: 0;
		.up-icon {
			width: 24px;
			height: 12px;
			margin: 0 auto;
			display: block;
			top: 60px;
			position: absolute;
			left: 100px;
			right: 20px;

			// @media (max-width: 868px) {
			// 	left: 28px;
			// }
		}
	}
	.gallery-movingDown-area {
		bottom: 0;
		.down-icon {
			width: 24px;
			height: 12px;
			margin: 0 auto;
			display: block;
			bottom: 60px;
			position: absolute;
			left: 100px;
			right: 20px;

			// @media (max-width: 868px) {
			// 	left: 28px;
			// }
		}
	}

	ul {
		width: 60%;
		padding: 12px 0;

		// @media (max-width: 868px) {
		// 	width: 50%;
		// }

		li {
			padding: 2% 0;
		}
	}
	img {
		width: 100%;
	}
}

.gallery-intro {
	position: absolute;
	top: 70%;
	left: 70%;
	transform: translate3d(0, -50%, 0);

	// @media (max-width: 868px) {
	// 	left: 61%;
	// 	padding-right: 30px;
	// }
	@media (max-width: 868px) {
		top: 50px;
		left: 0;
		width: 100%;
		padding: 0 80px;
		box-sizing: border-box;
		position: relative;
	}

	@media (max-width: 515px) {
		top: 140px;
		padding: 0 20px;
		overflow: hidden;
	}
	// @media (max-width: 500px) {
	// 	top: auto;
	// 	bottom: 0;
	// 	transform: none;
	// }

	.gallery-intro-rows {
		padding-bottom: 28px;
		font-weight: 100;
		opacity: 1;

		@media (max-width: 868px) {
			float: left;
			padding-right: 20px;
			width: 50%;
			box-sizing: border-box;
		}

		@media (max-width: 515px) {
			padding-right: 14px;
		}
	}

	span {
		@include sub-headline();
		padding-bottom: 2px;
		color: $primaryColor;
	}
	p {
		font-size: 16px;
		letter-spacing: 0.05em;
		line-height: 18px;
		padding-top: 5px;
		padding-bottom: 1px;
		font-weight: 100;
		zoom: 0;

		@media (max-width: 500px) {
			font-size: 14px;
		}
	}
}

.matt-mobile-gallery + .gallery-intro {
	left: auto;
	right: 70%;

	@media (max-width: 868px) {
		left: 0;
		right: auto;
	}

	// @media (max-width: 868px) {
	// 	right: 61%;
	// 	padding-right: 0;
	// 	padding-left: 30px;
	// }
}
