$gravityEase: cubic-bezier(.55,0,.1,1);
$parallaxEase: cubic-bezier(.215, .61, .355, 1);
$bounceEase: cubic-bezier(0.68, -0.55, 0.265, 1.55);
$primaryColor: #d79074;
$content: #fff;
$contentBg: #f4f4f4;
$contentAlert: #ff0000;

$menuBgLight: #f2f2f2;
$menuContentLight: #444;

$contentBgOpacity: rgba(242, 242, 242, 0.77);
$rsvpBgOpacity: rgba(242, 242, 242, 0.95);

$menuWidth: 56%;
$menuBreakpoint1: 1288px;
$menuBreakpoint2: 1028px;
$menuBreakpoint4: 480px;

$primaryFont: 'Lora', serif;
$secondaryFont: 'proxima-nova', sans-serif;

@mixin resetWebkitAppearance {
	-webkit-appearance: none;
	border: 0;
	background: none;
	border-radius: 0;
}
@mixin sub-headline {
	font-size: 12px;
	font-family: $secondaryFont;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	padding-bottom: 10px;
	display: block;
	line-height: 15px;
}
@mixin content-headline {
	font-size: 18px;
	font-weight: 400;
	letter-spacing: 0.05em;
	line-height: 28px;
	padding-bottom: 28px;
}
@mixin content-block {
	font-size: 12px;
	line-height: 21px;
	letter-spacing: 0.05em;
	padding-bottom: 10px;
}
@mixin bordered-button {
	-webkit-appearance: none;
	border: 1px solid $content;
	font-family: 'Lora', serif;
	background: transparent;
	color: $content;
	width: 100%;
	display: block;
	padding: 7px 4px;
	font-size: 13px;
	letter-spacing: 0.37em;
	cursor: pointer;
	transition: all 0.5s $parallaxEase;
	box-sizing: border-box;

	&:hover {
		background: $content;
		color: $primaryColor;
	}
}
@mixin vertical-center() {
	top: 50%;
	transform: translate3d(0, -50%, 0);
}
@mixin horizontal-center() {
	left: 50%;
	transform: translate3d(-50%, 0, 0);
}
@mixin parallax-bg-setup($perspective, $zindex, $duration) {
	width: 1550px;
	height: 928.5px;
	@include parallax-setup($perspective, $zindex, $duration);
	z-index: 0;
}
@mixin parallax-setup($perspective, $zindex, $duration) {
	@if $perspective == 0 {
		transform: translate3d(0, 0, $zindex);
	} @else {
		transform: perspective($perspective) translate3d(0, 0, $zindex) scale3d(1, 1, 1);
	}
	transition: transform $duration $parallaxEase 0s;
	transform-style: preserve-3d;
	backface-visibility: hidden;
}

body {
	font-family: $primaryFont;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: $menuContentLight;
	box-sizing: border-box;
	background: $content;
	font-weight: normal;
}
*, *:before, *:after {
	box-sizing: inherit;
}

html, body, main, #main {
	width: 100%;
	height: 100%;
}

html, body {
	margin: 0;
	overflow: hidden;
}

img.full-bleed {
	min-width: 100%;
	min-height: 100%;
	height: auto;
	width: auto;
	position: absolute;
	top: -100%;
	bottom: -100%;
	left: -100%;
	right: -100%;
	margin: auto;
}
