<div class="swiper-container">
	<div class="swiper-wrapper">
		<div class="swiper-slide" id="landing">
			<div class="content-container">
				<ul>
					<li>
						<img class="km-logo" src="./assets/img/km-logo.svg" />
						<img class="logo" src="./assets/img/landing-logo.svg" />
					</li>
					<li>
						<span>Marriage<br>Ceremony</span>
					</li>
					<li>
						<span>Hycroft<br>Manor</span>
					</li>
					<li>
						<span>4:30 PM Friday<br>June 23, 2016</span>
					</li>
				</ul>
				<!-- Parallax-able BG -->
				<img id="parallax-landing" class="full-bleed bg" src="./assets/img/bg.jpg" />
			</div>
		</div>
		<div class="swiper-slide" id="invitation">
			<section class="content-container">
				<h2>Introduction</h2>
				<h1>You are<br>Cordially Invited.</h1>
				<p>Together with their families, Kriza Borromeo and Matthew Kim would like to request the pleasure of your company at their marriage ceremony.</p>
				<p>On a seemingly normal grey day in Vancouver, the pair serendipitously met while attending post-secondary school. After almost 10 years together, the couple is excited to take their next step.</p>
				<p>Please celebrate with Kriza and Matthew as they join their lives forever in holy matrimony.</p>
				<button>RSVP</button>
			</section>
			<section class="countdown-container">
				<div class="countdown-container-wrapper">
					<span class="thedate">
						<span class="month">06.</span>
						<span class="day">23.</span>
						<span class="year">2017</span>
					</span>
					<div class="countdown">
						<span class="days">888</span>
						<span class="hours">87</span>
						<span class="mins">88</span>
						<span class="secs">88</span>
						<span class="countdown-label">Time Remaining</span>
					</div>
				</div>
			</section>
		</div>
		<div class="swiper-slide" id="gallery">
			<div class="swiper-container-gallery">
				<div class="swiper-wrapper">
						<div class="swiper-slide"></div>
						<div class="swiper-slide"></div>
						<div class="swiper-slide"></div>
						<div class="swiper-slide"></div>
						<div class="swiper-slide"></div>
						<div class="swiper-slide"></div>
						<div class="swiper-slide"></div>
						<div class="swiper-slide"></div>
						<div class="swiper-slide"></div>
						<div class="swiper-slide"></div>
				</div>
				<!-- Add Pagination -->
				<div class="swiper-pagination-gallery"></div>
			</div>
		</div>
		<div class="swiper-slide">
			<section class="kriza-gallery-container personal-gallery">
				<div class="gallery-movingUp-area">
				</div>
				<div class="gallery-movingDown-area">
				</div>
				<ul class="gallery-scroller">
					<li><img src="./assets/img/kriza/1.jpg" /></li>
					<li><img src="./assets/img/kriza/2.jpg" /></li>
					<li><img src="./assets/img/kriza/3.jpg" /></li>
					<li><img src="./assets/img/kriza/4.jpg" /></li>
					<li><img src="./assets/img/kriza/5.jpg" /></li>
					<li><img src="./assets/img/kriza/6.jpg" /></li>
					<li><img src="./assets/img/kriza/7.jpg" /></li>
				</ul>
			</section>
			<section class="gallery-intro">
				<div class="gallery-intro-rows">
					<span>BRIDE</span>
					<p>Kriza G.F. Borromeo</p>
				</div>
				<div class="gallery-intro-rows">
					<span>PARENTS OF THE BRIDE</span>
					<p>Carlos B. Borromeo</p>
					<p>Luzviminda F. Borromeo</p>
				</div>
				<div class="gallery-intro-rows">
					<span>MAID OF HONOUR</span>
					<p>Jamile Borromeo</p>
				</div>
				<div class="gallery-intro-rows">
					<span>BRIDESQUAD</span>
					<p>Carmen Bright</p>
					<p>Jacob Kownacki</p>
				</div>
			</section>
		</div>
		<div class="swiper-slide"></div>
		<div class="swiper-slide"></div>
		<div class="swiper-slide"></div>
	</div>
	<!-- Add Pagination -->
	<div class="swiper-pagination"></div>
</div>

<form id="rsvp-form" action="/rsvped" method="POST">
	<div class="form-group">
		<label class="form-label" for="firstname">Name</label>
		<input class="form-input" type="text" name="firstname" id="firstname"/>
	</div>
	<div class="form-group">
		<label class="form-label" for="email">Email</label>
		<input class="form-input" type="text" name="email" id="email"/>
	</div>
	<div class="form-group">
		<label class="form-label" for="plusone">I will bring a partner* to this event.</label>
		<input id="plusone-checkbox" type="checkbox" />
		<input id="plusone-checkbox-result" type="hidden" name="plusone" value="No"/>
	</div>
	<div id="plusone-input" class="form-group hidden">
		<label class="form-label" for="plusonename">Partner name</label>
		<input id="plusone-name" class="form-input" type="text" name="plusonename"/>
	</div>
	<input type="submit" value="RSVP"/>
</form>