<button id="menu-btn">
	<img class="black" src="./assets/img/plus-icon.png" />
	<img class="white" src="./assets/img/plus-icon-white.png" />
</button>
<!-- <button id="backToTop">back to top</button> -->
<div class="swiper-container">
	<div class="swiper-wrapper">
		<div class="swiper-slide" id="landing">
			<div class="content-container">
				<ul>
					<li>
						<img class="km-logo" src="./assets/img/km-logo.svg" />
						<img class="logo" src="./assets/img/landing-logo.svg" />
					</li>
					<li>
						<span class="landing-labels">Marriage<br>Ceremony</span>
					</li>
					<li>
						<span class="landing-labels">Hycroft<br>Manor</span>
					</li>
					<li>
						<span class="landing-labels">4:30 PM Friday<br>June 23, 2017</span>
					</li>
				</ul>
				<!-- Parallax-able BG -->
				<img id="parallax-landing" class="full-bleed bg" src="./assets/img/bg.jpg" />
			</div>
		</div>
		<div class="swiper-slide light-mode" id="invitation">
			<section class="content-container">
				<h2>Introduction</h2>
				<h1>You are<br>Cordially Invited.</h1>
				<p>Together with their families, Kriza Borromeo and Matthew Kim would like to request the pleasure of your company at their marriage ceremony.</p>
				<p>On a seemingly normal grey day in Vancouver, the pair serendipitously met while attending post-secondary school. After almost 10 years together, the couple is excited to take their next step.</p>
				<p>Please celebrate with Kriza and Matthew as they join their lives forever in holy matrimony.</p>
				<button class="rsvp-button-external">RSVP</button>
			</section>
			<section class="countdown-container">
				<div class="countdown-container-wrapper">
					<span class="thedate">
						<span class="month">06.</span>
						<span class="day">23.</span>
						<span class="year">2017</span>
					</span>
					<div class="countdown hidden">
						<span class="days">888</span>
						<span class="hours">87</span>
						<span class="mins">88</span>
						<span class="secs">88</span>
						<span class="countdown-label">Time Remaining</span>
					</div>
				</div>
			</section>
		</div>
		<div class="swiper-slide no-pagination" id="gallery">
			<div class="swiper-container-gallery">
				<div class="swiper-wrapper">
						<div class="swiper-slide"></div>
						<div class="swiper-slide"></div>
						<div class="swiper-slide"></div>
						<div class="swiper-slide"></div>
						<div class="swiper-slide"></div>
						<div class="swiper-slide"></div>
						<div class="swiper-slide"></div>
						<div class="swiper-slide"></div>
						<div class="swiper-slide"></div>
						<div class="swiper-slide"></div>
				</div>
				<!-- Add Pagination -->
				<div class="swiper-pagination-gallery"></div>
				<div class="swiper-button-next"></div>
				<div class="swiper-button-prev"></div>
			</div>
		</div>
		<div class="swiper-slide light-mode" id="quote">
			<blockquote>
				<p>“What greater thing is there for two human souls, than to feel that they are joined for life-to strengthen each other in all labour, to rest on each other in all sorrow, to minister to each other in all pain, to be one with each other in silent unspeakable memories at the moment of the last parting?”</p>
			</blockquote>
			<cite>— George Eliot</cite>
			<!-- Parallax-able BG -->
			<img id="quote-landing" class="full-bleed bg" src="./assets/img/login/bg.jpg" />
		</div>
		<div class="swiper-slide" id="kriza">
			<section class="kriza-gallery-container personal-gallery">
				<div class="gallery-movingUp-area">
					<img class="up-icon" src="./assets/img/up-arrow.png" />
				</div>
				<div class="gallery-movingDown-area">
					<img class="down-icon" src="./assets/img/down-arrow.png" />
				</div>
				<ul class="gallery-scroller">
					<li><img src="./assets/img/kriza/1.jpg" /></li>
					<li><img src="./assets/img/kriza/2.jpg" /></li>
					<li><img src="./assets/img/kriza/3.jpg" /></li>
					<li><img src="./assets/img/kriza/4.jpg" /></li>
					<li><img src="./assets/img/kriza/5.jpg" /></li>
					<li><img src="./assets/img/kriza/6.jpg" /></li>
					<li><img src="./assets/img/kriza/7.jpg" /></li>
				</ul>
			</section>
			<section class="gallery-intro">
				<div class="gallery-intro-rows">
					<span>BRIDE</span>
					<p>Kriza Gretl F. Borromeo</p>
				</div>
				<div class="gallery-intro-rows">
					<span>PARENTS OF THE BRIDE</span>
					<p>Carlos B. Borromeo</p>
					<p>Luzviminda F. Borromeo</p>
				</div>
				<div class="gallery-intro-rows">
					<span>MAID OF HONOUR</span>
					<p>Jamille Borromeo</p>
				</div>
				<div class="gallery-intro-rows">
					<span>BRIDESQUAD</span>
					<p>Carmen Bright</p>
					<p>Jacob Kownacki</p>
				</div>
			</section>
		</div>
		<div class="swiper-slide" id="matt">
			<section class="matt-gallery-container personal-gallery">
				<div class="gallery-movingUp-area">
					<img class="up-icon" src="./assets/img/up-arrow.png" />
				</div>
				<div class="gallery-movingDown-area">
					<img class="down-icon" src="./assets/img/down-arrow.png" />
				</div>
				<ul class="gallery-scroller">
					<li><img src="./assets/img/kim/1.jpg" /></li>
					<li><img src="./assets/img/kim/2.jpg" /></li>
					<li><img src="./assets/img/kim/3.jpg" /></li>
					<li><img src="./assets/img/kim/4.jpg" /></li>
					<li><img src="./assets/img/kim/5.jpg" /></li>
					<li><img src="./assets/img/kim/6.jpg" /></li>
				</ul>
			</section>
			<section class="gallery-intro">
				<div class="gallery-intro-rows">
					<span>BRIDEGROOM</span>
					<p>Matthew T. Kim</p>
				</div>
				<div class="gallery-intro-rows">
					<span>PARENTS OF BRIDEGROOM</span>
					<p>JeeMan Kim</p>
					<p>SooYoung Koh</p>
				</div>
				<div class="gallery-intro-rows">
					<span>BEST MAN</span>
					<p>David D. Suh</p>
				</div>
				<div class="gallery-intro-rows">
					<span>GROOMSMEN</span>
					<p>Jace J. Kim</p>
					<p>HanSol Kim</p>
				</div>
			</section>
		</div>
		<div class="swiper-slide light-mode" id="location">
			<section class="where-content">
				<div class="where-content-wrapper">
					<span class="label">Where to go</span>
					<p>Hycroft Manor<br>(University Women's Club of Vancouver)</p>
					<span>1489 McRae Ave Vancouver, BC V6H 1V1</span>
					<span>uwcvancouver.co<br>+1 604 731 4661</span>
					<a href="https://www.google.com.tw/maps/place/University+Women's+Club+of+Vancouver/@49.2570745,-123.1390051,17z/data=!3m1!4b1!4m5!3m4!1s0x548673be5a9d6315:0x148d106cc5a7b5f1!8m2!3d49.257071!4d-123.1368164?hl=en" target="_blank">View Map</a>
				</div>
			</section>
			<img class="location-shot" src="./assets/img/where/hycroftManor.png" />
			<img id="location-landing" class="full-bleed bg" src="./assets/img/login/bg.jpg" />
		</div>
		<div class="swiper-slide" id="seeyou">
			<span>See you soon.</span>
			<img id="seeyou-landing" class="full-bleed bg" src="./assets/img/bg.jpg" />
		</div>
	</div>
	<!-- Add Pagination -->
	<div class="swiper-pagination"></div>
</div>
