<section class="menu-column">
	<section class="menu-block">
		<span class="menu-subheadine">ABOUT WEDDING</span>
		<h1>You Are Invited</h1>
		<p>The event will commence with the ceremonious joining of Kriza and Matthew in holy matrimony, in front of their friends and family. A reception will follow shortly that includes dinner and some celebratory partying.</p>
		<p>The marriage ceremony will start at 4:30pm. Please arrive and be seated before 4:15pm.</p>
	</section>

	<section class="menu-block" id="timeAndLocation">
		<span class="menu-subheadine">TIME &amp; LOCATION</span>
		<h1>Marriage Ceremony</h1>
		<p>Friday, June 23, 2017<br>Doors open 4:00pm<br>Ceremony 4:30pm<br>Reception 6:00pm</p>
		<p>Hycroft Manor<br>1489 McRae Ave<br>Vancouver, BC</p>
	</section>
</section>

<section class="menu-column">
	<section class="menu-block">
		<span class="menu-subheadine">RSVP</span>
		<h1>Save the Date</h1>
		<p>I am delighted to accept the invitation to Kriza and Matthew's marriage ceremony on June 23, 2017.</p>
		<form id="rsvp-form" action="/rsvped" method="POST">
			<div class="form-group">
				<label class="form-label" for="firstname">Name</label>
				<input class="form-input" type="text" placeholder="Name" name="firstname" id="firstname" autocomplete="off" />
			</div>
			<div class="form-group">
				<label class="form-label" for="email">E-mail</label>
				<input class="form-input" type="text" placeholder="E-mail" name="email" id="email" autocomplete="off" />
			</div>
			<div class="form-group" id="plusOne">
				<input id="plusone-checkbox" type="checkbox" />
				<label class="form-label" for="plusone">I will bring a partner to this event.</label>
				<input id="plusone-checkbox-result" type="hidden" name="plusone" value="No"/>
			</div>
			<div id="plusone-input" class="form-group hidden">
				<label class="form-label" for="plusonename">Partner name</label>
				<input id="plusone-name" placeholder="Partner Name" class="form-input" type="text" name="plusonename" autocomplete="off" />
			</div>
			<input type="submit" id="rsvp-submit-btn" value="SEND"/>
		</form>
	</section>

	<section class="menu-block" id="qanda">
		<span class="menu-subheadine">Contact Us</span>
		<h1>Questions?</h1>
		<p>If you have any questions, <a href="mailto:krizaandmatt2017@gmail.com?Subject=KrizaAndMatt — Questions">e-mail us.</a></p>
	</section>
</section>

<button id="slider-menu-btn">
	<img class="black" src="./assets/img/plus-icon.png" />
	<img class="white" src="./assets/img/plus-icon-white.png" />
</button>