// bower:scss
// endbower

@import 'shared/resets';
@import 'shared/standards';
@import 'shared/util';
@import 'core/login';

#main {
	transition: opacity 1s cubic-bezier(.55,0,.1,1);
	opacity: 0;
	pointer-events: none;
	transition-delay: 0.4s;

	.invitationMode & {
		opacity: 1;
		pointer-events: auto;
	}
}